
$primary-color: #ededed;
$secondary-color: #96c3ec;
$tertiary-color: #00234f;
@mixin gradient ($direction, $color1, $color2) {
background: linear-gradient($direction, $color1, $color2);
}


/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

body {
    background: $primary-color;
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
    color: $tertiary-color;
}

section {
    margin: 40px 0;
}


/* diseño movile */

@media screen and (max-width: 480px) {
    .banner {
    width: 100%;
    height: 25rem;
    box-shadow: 0 0 25px 0;
}
    .h2-inicio {
        text-align: center;
        border: none;
    }

    .h2-historia {
        text-align: center;
        border: none;
    }

    .parrafo-img-hist {
        display: block;
    }
    .club-historia {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .jugadores {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    
    .h4-primera {
        margin-top: 5px;
    }
    }