
$primary-color: #ededed;
$secondary-color: #96c3ec;
$tertiary-color: #00234f;
$padding-top: 100px;
@mixin gradient ($direction, $color1, $color2) {
background: linear-gradient($direction, $color1, $color2);
}


/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

body {
    background: $primary-color;
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
    color: $tertiary-color;
}

/* diseño movile */

@media screen and (max-width: 500px) {

    .img-banner {
    width: 100%;
    height: 25rem !important;
    box-shadow: 0 0 25px 0;
}

    #carouselExampleCaptions, .carousel-inner {
        height: 25rem;
    }

    .h2-inicio {
        text-align: center;
        border: none;
    }

    .h2-historia {
        text-align: center;
        border: none;
    }

    .parrafo-img-hist {
        display: flex;
        flex-direction: column; 
        align-items: center;
        padding: 0;
        margin: 0;
    }
    
    .club-historia {
        width: 100% !important;
        height: auto; 
        display: block;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }

    .jugadores {
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .mayores, .formativas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center;
        max-width: 100%; 
    }

    .jugadores img {
        width: 70px;
        margin: 5px;
    }

    .h4-primera {
        margin-top: 25px;
    }

    .h4-formativas {
        margin-top: 50px;
    }
    }