/* Historia */
@use "general" as *;

#historia {
    background:$secondary-color;
    @include gradient (0deg, $secondary-color, $primary-color);
    padding: 20px;
    padding-top: $padding-top;
}

.parrafo-img-hist {
    display: flex;
    align-items: start;
}

.club-historia {
    width: 45%;
    margin-left: 10px;
    border-radius: 5px;
}

.h2-historia {
    margin: 5px;
    padding: 10px 10px 0 10px;
    font-size: 32px;
    border-left: 5px solid $tertiary-color;
}

.h3-historia {
    padding-left:20px ;
    border-left: 5px solid $tertiary-color;
    margin: 5px;
    text-align: justify;
    line-height: 1.6;
}

.p-historia {
    display: flex;
    padding: 20px;
    border-left: 5px solid $tertiary-color;
    margin: 5px;
}
