/* jugadores */
@use "general" as *;


#jugadores {
    padding: 10px;
    @include gradient(0deg, $primary-color,$secondary-color);
}

.h2-jugadores {
    text-align: center;
    font-size: 32px;
}

.h3-jugadores {
    border-left: 3px solid $tertiary-color;
    padding: 5px;
}

.h4-primera {
    border-left: 3px solid $tertiary-color;
    padding: 5px;
}

.jugadores {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    margin-top: 5px;
}

.jugadores img {
    width: 70px;
    margin: 5px;
    box-shadow: 0 0 10px 0 #000a;
    border-radius: 50%;
}

.mayores, .formativas {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;     
    align-items: center;
    max-width: 45%;      
}

.h4-formativas {
    border-left: 3px solid $tertiary-color;
    padding: 5px;
}