/* Partidos */

#partidos {
    background:$secondary-color;
    @include gradient(0deg, $secondary-color, $primary-color);
    padding: 10px;
    padding-bottom: 50px;
}

.h2-partidos {
    text-align: center;
    font-size: 32px;
}

.h3-partidos {
    border-left: 3px solid $tertiary-color;
    padding: 5px;
}

.tabla-partidos {
    width: 100%;
    border: 3px solid $tertiary-color;
}

td, th {
    border: 3px solid $tertiary-color;
}